<div class="contact-block">
  <div class="row">
    <div class="col-md-5">
      <div class="contact-imformation d-flex flex-column">
        <div class="header d-flex align-item-center">
          <i class="far fa-envelope"></i>
          <span>Contact Information</span>
        </div>
        <div class="middle">
          <p>Liên hệ với tôi theo thông tin bên dưới</p>
        </div>
        <div class="footer">
          <div class="sub d-flex align-item-center">
              <i class="fas fa-globe-asia"></i><span> 507 Xa Lộ Hà Nội, P.An Phú, Q.2, TP.HCM </span>
          </div>
          <div class="sub d-flex align-item-center">
              <i class="fas fa-phone-alt"></i> <span>PHONE: 0367765209</span>
          </div>
          <div class="sub d-flex align-item-center">
              <i class="far fa-envelope"></i> <span>EMAIL: nghialamngocit@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7"></div>
  </div>
</div>