<div class="container-fluid thisisname">
  <div class="container">
    <div class="wapper d-md-flex justify-content-center align-items-center">
      <a href="">
        <div class="d-flex left">
          <div class="icon">
            <i class="fas fa-car"></i>
          </div>
          <div class="content">
            <h6>Bạn tìm kiếm một chiếc xe mới?</h6>
            <p>Cung cấp tất cả các dòng xe mới nhất của Toyota. Hoàn thành tất cả các yêu cầu của bạn. Vận chuyển xe mọi
              lúc mọi nơi</p>
          </div>
        </div>
      </a>
      <a href="">
        <div class="d-flex right">
          <div class="icon">
            <i class="fas fa-car"></i>
          </div>
          <div class="content">
            <h6>Bạn tìm kiếm xe đã qua sử dụng?</h6>
            <p>Các dòng xe Toyota đã qua sử dụng nhưng vẫn đáp ứng đầy đủ các nhu
              cầu sử dụng của bạn. Vận chuyển xe mọi lúc mọi nơi</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>