<div class="about-car-dealer container d-flex">
  <div class="row">
    <div class="why d-inline-block col-lg-7 offset-lg-1 col-md-7">
      <div class="header">
        <h1>TÌM THẤY CHIẾC XE TRONG MƠ CỦA BẠN CÙNG TÔI</h1>
      </div>
      <div class="about-me">
        <p>Nhân viên xuất sắc nhiều năm liền. Một trong Top 10 Nhân viên bán hàng xuất sắc nhất năm 2018. Phục vụ hơn
          1000 khách hàng.
          <strong>Tôi cam kết sẽ mang đến cho bạn những dịch vụ tốt
            nhất</strong> </p>
      </div>
      <div class="services row">
        <div class="service col-lg-6 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fas fa-tag"></i>
          </div>
          <div class="content">
            <h5>Giá cả tốt nhất</h5>
            <p>Luôn mang đến cho bạn mức giá tốt nhất</p>
          </div>
        </div>
        <div class="service col-lg-6 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="far fa-comment-dots"></i>
          </div>
          <div class="content">
            <h5>Hỗ trợ mọi lúc</h5>
            <p>Hỗ trợ bạn bất cứ điều gì</p>
          </div>
        </div>
        <div class="service col-lg-6 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fas fa-tools"></i>
          </div>
          <div class="content">
            <h5>Dịch vụ</h5>
            <p>Cung cấp tất cả dịch vụ dành cho chiếc xe của bạn</p>
          </div>
        </div>
        <div class="service col-lg-6 d-flex align-items-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fas fa-cogs"></i>
          </div>
          <div class="content">
            <h5>Phụ tùng</h5>
            <p>Cung cấp phụ tùng cần thiết cho chiếc xe của bạn</p>
          </div>
        </div>
      </div>
    </div>
    <div class="dealer-img d-inline-block col-lg-3 col-md-5">
    </div>
  </div>
</div>