.p-style {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.span-style{
  display: block;
  margin-top: 5px;
  font-size: 13px;
}

.footer {
  padding: 40px;
  color: #aaa;
  font-size: 14px;
  background-color: #232628;
  .subscribe-block {
    p{
      @extend .p-style;
    }
    .input-subscribe{
      input{
        display: inline-block;
        border: none;
        outline: none;
        padding: 5px;
        color: #aaa;
        font-size: 13px;
        width: 250px;
        height: 30px;
      }
      i{
        height: 30px;
        width: 30px;
        background-color: white;
        color: #cc6119;
        font-size: 22px;
        position: relative;
        border-left: 1px solid #e0e0e0;
        cursor: pointer;
        &::before{
          position: absolute;
          top: 8%;
          left: 10%;
        }
      }
    }
    span{
      @extend .span-style;
    }
  }
  .sales-block{
    .location{
      font-size: 13px;
      .title{
        @extend .p-style;
      }
      p{        
        margin-bottom: 2px;
      }
      .property{        
        color: white;
      }
    }
  }
}
