<div class="car-finanching-calculator">
  <div class="price-top">
    <div class="p-top text-center">
      <span>450.000.000 VNĐ</span>
    </div>
    <div class="p-bottom text-center">
      Include Tax $ Checkup
    </div>
  </div>
  <div class="common-technical">
    <ul>
      <li>
        <div class="block">
          <span class="title">BODY</span>
          <span class="value">Sedan</span>
        </div>
      </li>
      <li>
        <div class="block">
          <span class="title">BODY</span>
          <span class="value">Sedan</span>
        </div>
      </li>
      <li>
        <div class="block">
          <span class="title">BODY</span>
          <span class="value">Sedan</span>
        </div>
      </li>
      <li>
        <div class="block">
          <span class="title">BODY</span>
          <span class="value">Sedan</span>
        </div>
      </li>
      <li>
        <div class="block">
          <span class="title">BODY</span>
          <span class="value">Sedan</span>
        </div>
      </li>
      <li>
        <div class="block">
          <span class="title">BODY</span>
          <span class="value">Sedan</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="financing-calculator">
    <div class="f-top d-flex align-items-center">
      <i class="fas fa-calculator"></i>
      <span>Tính toán tài chính</span>
    </div>
    <div class="form-cal">
      <div class="input-block">
        <label for="price-car">Giá xe <span>(VNĐ)</span> </label>
        <input type="text" value="450000000" id="price-car" readonly>
      </div>
      <div class="aa d-flex">
        <div class="input-block w-50 mr-2">
          <label for="interest ">Lãi xuất <span>(%)</span> </label>
          <input type="text" value="10" id="interest " class="per-half" readonly>
        </div>
        <div class="input-block w-50">
          <label for="period">Giai đoạn <span>(tháng)</span> </label>
          <select name="Period " id="period ">
            <option value="6">6 tháng</option>
            <option value="12">12 tháng</option>
            <option value="24">24 tháng</option>
          </select>
        </div>
      </div>
      <div class="input-block">
        <label for="down-payment">Giá xe <span>(VNĐ)</span> </label>
        <input type="text" value="200000000" id="down-payment">
      </div>
      <button>Calculate</button>

    </div>

    <div class="cal-result">
      <div class="sub">
        <p class="res-title">Số Tiền Mỗi Tháng</p>
        <p class="res-value">8774190.20</p>
      </div>
      <div class="sub">
          <p class="res-title">Tổng Lãi Xuất</p>
          <p class="res-value">8774190.20</p>
        </div>
        <div class="sub">
            <p class="res-title">Tổng Số Tiền Phải Trả</p>
            <p class="res-value">8774190.20</p>
          </div>
    </div>
  </div>
</div>