.search-option{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1); 
  .search-header{
    font-size: 17px;
    font-weight: bold;
    padding: 16px;
    color: white;
    background: #232628;
  }
  .search-form{
    padding: 20px 10px 50px 10px !important;
    font-size: 15px !important;
    label{
      text-transform: uppercase;
    }
  }
}

.form-control{
  outline: none;
  font-size: 14px !important;
  &:focus{      
    box-shadow: none !important;
  }
}
   